Repository merchise/xotl.crdt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, tests, run static checks, run doctests, run coverage tests, build documentation, publish in our rtd

lint:
  image: python:$PYTHON_VERSION
  script:
  - pip install -r requirements-dev.lock
  - ruff check src/
  - ruff format --check src/
  - isort --check --diff src/
  stage: test
  allow_failure: true

tests:
  image: python:$PYTHON
  stage: test
  script:
  - pip install tox
  - tox -e system-unit
  parallel:
    matrix:
    - PYTHON:
      - '3.11'
      - '3.12'
      - '3.10'

run static checks:
  image: python:$PYTHON_VERSION
  stage: test
  script:
  - pip install tox
  - tox -e system-staticcheck

run doctests:
  image: python:$PYTHON_VERSION
  stage: test
  script:
  - pip install tox
  - tox -e system-doctest

run coverage tests:
  image: python:$PYTHON_VERSION
  stage: test
  script:
  - pip install tox
  - tox -e system-coverage
  allow_failure: true

build documentation:
  image: python:$PYTHON_VERSION
  script:
  - apt-get update; apt-get install -y --no-install-recommends git make
  - pip install -r requirements-dev.lock
  - make -C docs html
  - mkdir -p public
  - cp -r docs/build/html/* public/
  stage: build
  interruptible: true
  needs:
  - run doctests

publish in our rtd:
  interruptible: true
  variables:
    GIT_STRATEGY: none
  stage: publish
  needs:
  - build documentation
  image: alpine
  script:
  - 'apk add openssh rsync
  
    mkdir -p $HOME/.ssh
  
    chmod 700 $HOME/.ssh
  
    cp $RSA_KEY_FILE $HOME/.ssh/id_rsa
  
    chmod 600 $HOME/.ssh/id_rsa
  
    cp $SSH_CONFIG_FILE $HOME/.ssh/config
  ...

Set MYPYPATH so that 'mypy -p xotl.crdt' works.
  pyproject.toml
  tox.ini
Due: lint, tests, run static checks, run doctests, run coverage tests, build documentation, publish in our rtd

Fix typing issues.
  src/xotl/crdt/base.py
  src/xotl/crdt/clocks.py
  src/xotl/crdt/sets.py
  src/xotl/crdt/testing/base.py
  src/xotl/crdt/testing/sets.py
Due: lint, tests, run static checks, run doctests, run coverage tests, build documentation, publish in our rtd

Ignore '_version.py' in coverage.
  pyproject.toml
Due: lint, tests, run static checks, run doctests, run coverage tests

Add missing artifacts of 'build documentation'.
  .gitlab-ci.yml
Due: none

Release 0.3.0
  docs/source/history.rst
Due: run doctests, build documentation, publish in our rtd

Update Makefile's install target.
  Makefile
Due: none

Add make target 'lock' and 'sync'.
  Makefile
Due: none

Update our LICENSE to match the MIT.
  LICENSE
Due: none

project: Upgrade to ruff 0.3.5 (no changes).
  Makefile
  pyproject.toml
  requirements-dev.lock
  tox.ini
Due: lint, tests, run static checks, run doctests, run coverage tests, build documentation, publish in our rtd

make: Improve bootstrap of rye and uv
  Makefile
  requirements-dev.lock
  requirements.lock
Due: none

project: Upgrade to ruff 0.4.5
  pyproject.toml
  requirements-dev.lock
Due: lint, tests, run static checks, run doctests, run coverage tests

Path conditions:
  lint: any of: pyproject.toml, src/**/*.py
  tests: any of: pyproject.toml, src/**/*.py
  run static checks: any of: pyproject.toml, src/**/*.py
  run doctests: any of: pyproject.toml, src/**/*.py, docs/**/*.rst
  run coverage tests: any of: pyproject.toml, src/**/*.py
  build documentation: any of: tox.ini, docs/source/conf.py, docs/**/*.rst, src/**/*.py
  publish in our rtd: any of: tox.ini, docs/source/conf.py, docs/**/*.rst, src/**/*.py
